body {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
}

.profile-section {
    box-shadow: 1px 1px 4px rgba(0, 124, 116, 0.5);
    margin: 70px auto 50px;
    height: 300px;
    position: relative;
    width: 100%;
}

figure.profile-picture {
    background-position: center center;
    background-size: cover;
    border: 5px #efefef solid;
    border-radius: 50%;
    bottom: -50px;
    box-shadow: inset 1px 1px 3px rgba(0, 124, 116, 0.2), 1px 1px 4px rgba(0, 124, 116, 0.3);
    height: 148px;
    left: 150px;
    position: absolute;
    width: 148px;
    z-index: 3;
}

div.profile-stats {
    bottom: 0;
    border-top: 1px solid rgba(0, 124, 116, 0.5);
    left: 0;
    padding: 15px 15px 15px 350px;
    position: absolute;
    right: 0;
    z-index: 2;

    /* Generated Gradient */
    background: -moz-linear-gradient(top,    rgba(170, 224, 220, 0.5) 0%, rgba(0, 124, 116, 0.51) 3%, rgba(0, 124, 116, 0.75) 61%, rgba(0, 124, 116, 0.5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(170, 224, 220, 0.5)), color-stop(3%,rgba(0, 124, 116, 0.51)), color-stop(61%,rgba(0, 124, 116, 0.75)), color-stop(100%,rgba(0, 124, 116, 0.5)));
    background: -webkit-linear-gradient(top,    rgba(170, 224, 220, 0.5) 0%,rgba(0, 124, 116, 0.51) 3%,rgba(0, 124, 116, 0.75) 61%,rgba(0, 124, 116, 0.5) 100%);
    background: -o-linear-gradient(top,    rgba(170, 224, 220, 0.5) 0%,rgba(0, 124, 116, 0.51) 3%,rgba(0, 124, 116, 0.75) 61%,rgba(0, 124, 116, 0.5) 100%);
    background: -ms-linear-gradient(top,    rgba(170, 224, 220, 0.5) 0%,rgba(0, 124, 116, 0.51) 3%,rgba(0, 124, 116, 0.75) 61%,rgba(0, 124, 116, 0.5) 100%);
    background: linear-gradient(to bottom,    rgba(170, 224, 220, 0.5) 0%,rgba(0, 124, 116, 0.51) 3%,rgba(0, 124, 116, 0.75) 61%,rgba(0, 124, 116, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#80000000',GradientType=0 );

}

div.profile-stats ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div.profile-stats ul li {
    color: #efefef;
    display: block;
    float: left;
    font-size: 24px;
    font-weight: bold;
    margin-right: 50px;
    text-shadow: 1px 1px 2px rgba(0, 124, 116, 0.7)
}

div.profile-stats li span {
    display: block;
    font-size: 16px;
    font-weight: normal;
}

.profile-section>h1 {
    bottom: -60px;
    color: #00CCBD;
    font-size: 40px;
    left: 350px;
    position: absolute;
    z-index: 5;
}

.container{
    padding-top: 20px;
}
