{% load staticfiles %}
<html>
<head>
    <title>Chat Panel</title>
  <style>
    #chat-bottom {
    position: fixed;
    bottom: 10px;
}

.panel-body {
    overflow-y: scroll;
    height: 85%;
}
  </style>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/chat_box.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script><!-- jQuery library -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script><!-- Latest compiled JavaScript -->
</head>

<body>
    <div id="chat-body" class="panel panel-default">
        <div class="panel-heading text-center">Chat with {{ receiver_name }}</div>

        <div id="msg-list-div" class="panel-body">
            <div class="col-sm-3 col-sm-offset-4 frame">
            <ul id="msg-list" class="list-group">
                {% for obj in chat %}
                    {% if obj.SENDER_KEY.USER_REF.username == sender %}
                    <div class="chat-container"><div class="chat chat-right">{{ obj.MESSAGE }}</div></div>
                    {% else %}
                    <div class="chat-container"><div class="chat chat-left">{{ obj.MESSAGE }}</div></div>
                    {% endif %}
                {% empty %}
                    <div class="chat-container"><div class="chat chat-right">No messages yet!</div></div>
                {% endfor %}
                <script>
                    var chatlist = document.getElementById('msg-list-div');
                    chatlist.scrollTop = chatlist.scrollHeight;
                </script>
            </ul>
                <div>
                <div class="msj-rta macro" style="margin:auto">
            </div>
        </div>
    </div>

    <form id="chat-form" method="post" action="/post/">
        <div id="chat-bottom" class="input-group">
            <input type="text" id="chat-msg" name="chat-msg" class="form-control"/>
            <span class="input-group-btn">
                <input class="btn btn-default" id="send" type="submit" value="Send"/>
            </span>
        </div>
    </form>
</body>

<script>
// Chat submit function
$('#chat-form').on('submit', function(event){
    event.preventDefault();
    $.ajax({
        url : '/post/',
        type : 'POST',
        data : { msgbox: $('#chat-msg').val() , receiver: "{{ receiver }}", sender: "{{ sender }}"},
        success : function(json){
            $('#chat-msg').val('');
            $('#msg-list').append('<div class="chat-container"><div class="chat chat-right">' + json.msg + '</div></div>');
            var chatlist = document.getElementById('msg-list-div');
            chatlist.scrollTop = chatlist.scrollHeight;
        }
    });
});

function getMessages(){
    $.get('/chat_refresh/?sender={{sender}}&receiver={{receiver}}', function(messages){
        $('#msg-list').html(messages);
    });
}

var scrolling = false;
$(function(){
    $('#msg-list-div').on('scroll', function(){
        scrolling = true;
    });
    refreshTimer = setInterval(getMessages, 500);
});

$(document).ready(function() {
     $('#send').attr('disabled','disabled');
     $('#chat-msg').keyup(function() {
        if($(this).val() != '') {
           $('#send').removeAttr('disabled');
        }
        else {
        $('#send').attr('disabled','disabled');
        }
     });
 });

// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
</script>
<!--<script src="{% static 'chat.js' %}"></script>-->
</html>
