<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="{% static 'metisMenu/metisMenu.min.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="screen" />
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'css/morris.css' %}" rel="stylesheet" type="text/css" media="all">
    <script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'fusioncharts/themes/fusioncharts.theme.fint.js' %}"></script>
    <link href="{% static 'css/nav_menu.css' %}" rel='stylesheet' type='text/css'>
</head>

<body>
    <header class="main_h sticky">
        <div class="row">
            <a class="logo" href="../"><span style="font-size:15px;"> EmpowerHer </span><span style="margin-left:25px;"> ++</span></a>
            <div class="mobile-toggle"><span></span><span></span><span></span></div>
            <nav>   <ul>
                <li><a href="/">Home</a></li>
                <li><a href="../dashboard/">Dashboard</a></li>
                {% if is_logged_in %}
                    <li><a href="../logout/">Log Out</a></li>
                {% else %}
                    <li><a href="../">Sign In/Up </a></li>
                {% endif %}
                <li><a href="../user/?username={{username}}"> <figure class="avatar"><img src="{% static 'images/avatar.png' %}" alt=""></figure></a></li>
            </ul>   </nav>
        </div>
    </header>
    <div id="wrapper" style="margin-top:70px;">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"> {{ user.NAME }}
                    {% if B1 %}
                        <i style="color: red;" class="fa fa-certificate" aria-hidden="true"></i>
                    {% endif %}
                    {% if B2 %}
                        <i style="color: green" class="fa fa-certificate" aria-hidden="true"></i>
                    {% endif %}
                    {% if B3 %}
                        <i style="color: yellow" class="fa fa-certificate" aria-hidden="true"></i>
                    {% endif %}
                    {% if B4 %}
                        <i style="color: blue" class="fa fa-certificate" aria-hidden="true"></i>
                    {% endif %}
                    {% if B5 %}
                        <i style="color: purple" class="fa fa-certificate" aria-hidden="true"></i>
                    {% endif %}
                        </h1>
                    </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ B.ANSWER_UPVOTE }}</div>
                                    <div>Answers Upvoted!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-question fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ num_of_questions }}</div>
                                    <div>Questions Asked!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-user fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ B.GUIDE_UPVOTE }}</div>
                                    <div>Guide Upvotes!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ B.EXPERIENCE_UPVOTE }}</div>
                                    <div>Experiences Upvoted!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-envelope" aria-hidden="true"></i> Inbox
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            {% for user in inbox %}
                            <div class="list-group">
                                <a href="../chat/?receiver={{user.RECEIVER_KEY.USER_REF.username}}" class="list-group-item">
                                    {{ user.RECEIVER_KEY.NAME }}
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Your Events
                        </div>
                        <div class="panel-body">
                            {% for event in created_events %}
                            <div class="list-group">
                                <a href="../update_event/?event_id={{event.EVENT_ID}}" class="list-group-item">{{ event.NAME }}</a>
                            </div>
                            {% endfor %}
                            <a href="../create_event/" class="btn btn-default btn-block">Create Event</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/metisMenu/metisMenu.min.js' %}"></script>
<script src="{% static 'js/raphael.min.js' %}"></script>
<script src="{% static 'js/morris.min.js' %}"></script>
<script src="{% static 'js/sb-admin-2.js' %}"></script>
<script src="{% static 'js/morris-data.js' %}"></script>
  </body>
</html>
