{% load staticfiles %}
<!DOCTYPE html>
<html lang="">
<head>
<title>{{ event_name }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'css/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="topspacer bgded overlay" style="background-image:url('../images/demo/backgrounds/01.png');">
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <!-- ################################################################################################ -->
      <!-- <div id="logo" class="fl_left">
        <h1><a href="../index.html">Yoffa</a></h1>
    </div> -->
      <!-- ################################################################################################ -->
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li><a href="/">Home</a></li>
          <li class="active"><a class="drop" href="#">Pages</a>
            <ul>
              <li><a href="gallery.html">Gallery</a></li>
              <li><a href="full-width.html">Full Width</a></li>
              <li class="active"><a href="sidebar-left.html">Sidebar Left</a></li>
              <li><a href="sidebar-right.html">Sidebar Right</a></li>
              <li><a href="basic-grid.html">Basic Grid</a></li>
            </ul>
          </li>
          <li><a class="drop" href="#">Dropdown</a>
            <ul>
              <li><a href="#">Level 2</a></li>
              <li><a class="drop" href="#">Level 2 + Drop</a>
                <ul>
                  <li><a href="#">Level 3</a></li>
                  <li><a href="#">Level 3</a></li>
                  <li><a href="#">Level 3</a></li>
                </ul>
              </li>
              <li><a href="#">Level 2</a></li>
            </ul>
          </li>
          <li><a href="#">Link Text</a></li>
          <li><a href="#">Link Text</a></li>
        </ul>
      </nav>
    </header>
    <!-- ################################################################################################ -->
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div id="breadcrumb" class="hoc clear">
    <!-- ################################################################################################ -->
    <h6 class="heading">{{ event_name }}</h6>
    <!-- <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Lorem</a></li>
      <li><a href="#">Ipsum</a></li>
      <li><a href="#">Dolor</a></li>
  </ul> -->
    <!-- ################################################################################################ -->
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main style="padding:80px;" class="container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sidebar one_quarter first">
      <!-- ################################################################################################ -->
      <div class="card">
          <h6 style="margin-left:30px;">Guides Available</h6>
          <ul style="margin-left:30px;">

              {% for guide in guides %}
                <li> <a href=""> {{ guide.guide_name }} ({{guide.reputation}}) </a> </li>
              {% endfor %}
          </ul>
          <hr/>
          <p style="margin-bottom:30px;text-align:center;"> See All </p>
      </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="content three_quarter">
      <div id="experiences" class="experience-card">
        <h2>Experiences</h2>
        <ul>
            {% for experience in experiences %}
            <li>
              <article>
                <header>
                    <figure class="avatar"><img src="{% static 'images/avatar.png' %}" alt=""></figure>
                  <username>
                  By <a href="#">{{ experience.name }}</a>
                  </username>
                  <time>{{ experience.timestamp }}</time>
                </header>
                <div class="comcont">
                  <p>{{ experience.experience }}</p>
                </div>
                <div class="upvote-experience {% if experience.is_upvoted %} upvoted-button {% else %} upvote-button {% endif %}"
                data-expid="{{experience.experience_id}}" data-old-state="{{experience.is_upvoted}}">
                    <span id="text-{{ experience.experience_id }}"> {% if experience.is_upvoted %} Upvoted {% else %} Upvote {% endif %} </span> |
                    <span id="upvote-{{ experience.experience_id }}"> {{ experience.upvotes }} </span> </div>
                <br/>
              </article>
            </li>
            {% endfor %}
        </ul>
        <a href="../experience?event_id={{ event_id }}"> <h3 style="text-align:center;"> See All </h3> </a>
      </div>

      <h2 style="margin-top:50px; margin-left:10px;">Questions</h2>
      {% for question in questions %}
          <div class="questions question-card">
              <a style="color:#999999;" href=""> {{ question.event_name }} </a>
              <h6 class="question-highlighted"> {{ question.question }} </h6>
              <div style="width: 100%;">
                  <div style="float:left; width: 10%">
                      <img src="{% static 'images/avatar.png' %}" alt="">
                  </div>
                  <div style="">
                      <username> By <a href="#">{{ question.answered_by }}</a> </username>
                      <br/>
                      <time>{{ question.answered_at }}</time>
                  </div>
              </div>
              <div style="clear:both"></div>
              <div class="condensed-answer">{{ question.answer }} </div>
              <a href=""> See more </a>
          </div>
      {% endfor %}
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.backtotop.js' %}"></script>
<script src="{% static 'js/jquery.mobilemenu.js' %}"></script>
<script src="{% static '/js/jquery.js' %}"></script>
<script src="{% static '/js/rango-ajax.js' %}"></script>
<script>
    $(document).ready(function() {
        $('.upvote-experience').click(function(){
            var expid, oldstate, newstate;
            expid = $(this).attr("data-expid");
            oldstate = $(this).attr("data-old-state");
            if (oldstate === "False") {
                $(this).addClass('upvoted-button').removeClass('upvote-button');
                newstate =  "True";
                $(this).attr('data-old-state', "True");
                $('#text-' + expid).html("Upvoted");
            }
            else {
                $(this).addClass('upvote-button').removeClass('upvoted-button');
                newstate = "False";
                $(this).attr('data-old-state', "False");
                $('#text-' + expid).html("Upvote");
            }
            $.get('/upvote_experience/', {experience_id: expid, state: newstate, username: "{{ username }}"}, function(data){
                $('#upvote-' + expid).html(data);
            });
        });
    });
</script>
</body>
</html>
