{% load staticfiles %}
<!DOCTYPE html>
<html lang="">
<head>
<title>{{ event_name }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'css/layout.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static 'css/event_page.css' %}" rel="stylesheet" type="text/css" media="all">
<link href='https://fonts.googleapis.com/css?family=Montserrat|Cardo' rel='stylesheet' type='text/css'>
<link href="{% static 'css/nav_menu.css' %}" rel='stylesheet' type='text/css'>
</head>
<body id="top">
    <header class="main_h">
        <div class="row">
            <a class="logo" href="#">P/F</a>
            <div class="mobile-toggle"><span></span><span></span><span></span></div>
            <nav>   <ul>
                <li><a href=".sec01">Home</a></li>
                <li><a href=".sec02">Answer</a></li>
                <li><a href=".sec03">Notifications</a></li>
                <li><a href=".sec04">User Profile</a></li>
            </ul>   </nav>
        </div>
    </header>
    <div class="background-event">
        <div class="topspacer bgded">
          <div id="breadcrumb" class="hoc clear">
            <h1 class="heading">{{ event_name }}</h1>
            <div style="float:right; ">
                <div id="going-button" class="{% if is_going %} going-guided-button {% else %} going-guide-button {% endif %}"
                        data-state="{{ is_going }}">
                    <span id="going-text"> {% if not is_going %} Are you going? {% else %} I am going! {% endif %} </span>
                </div>
                <div id="guide-button" class="{% if is_guide %} going-guided-button {% else %} going-guide-button {% endif %}"
                    data-state="{{ is_guide }}">
                    <span id="guide-text"> {% if not is_guide %} Are you guiding? {% else %} I am a guide! {% endif %} </span>
                </div>
            </div>
          </div>
        </div>
    </div>

<div class="wrapper row3">
  <main style="padding:80px;" class="container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sidebar one_quarter first">
      <!-- ################################################################################################ -->
      <div class="card">
          <h6 style="margin-left:30px;">Guides Available</h6>
          <ul style="margin-left:30px;">

              {% for guide in guides %}
                <li> <a href=""> {{ guide.guide_name }} ({{guide.reputation}}) </a> </li>
              {% endfor %}
          </ul>
          <hr/>
          <p style="margin-bottom:30px;text-align:center;"> See All </p>
      </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="content three_quarter">
      <div id="experiences" class="experience-card">
        <h2>Experiences</h2>
        <ul>
            {% for experience in experiences %}
            <li>
              <article>
                <header>
                    <figure class="avatar"><img src="{% static 'images/avatar.png' %}" alt=""></figure>
                  <username>
                  By <a href="#">{{ experience.name }}</a>
                  </username>
                  <time>{{ experience.timestamp }}</time>
                </header>
                <div class="comcont">
                  <p>{{ experience.experience }}</p>
                </div>
                <div class="upvote-experience {% if experience.is_upvoted %} upvoted-button {% else %} upvote-button {% endif %}"
                data-expid="{{experience.experience_id}}" data-old-state="{{experience.is_upvoted}}">
                    <span id="text-{{ experience.experience_id }}"> {% if experience.is_upvoted %} Upvoted {% else %} Upvote {% endif %} </span> |
                    <span id="upvote-{{ experience.experience_id }}"> {{ experience.upvotes }} </span> </div>
                <br/>
              </article>
            </li>
            {% endfor %}
        </ul>
        <a href="../experience?event_id={{ event_id }}"> <h3 style="text-align:center;"> See All </h3> </a>
      </div>

      <h2 style="margin-top:50px; margin-left:10px;">Questions</h2>
      {% for question in questions %}
          <div class="questions question-card">
              <a style="color:#999999;" href=""> {{ question.event_name }} </a>
              <a href="../question/?question_id={{ question.question_id }}"> <h4 class="question-highlighted"> {{ question.question }} </h4> </a>
              <div style="width: 100%;">
                  <div style="float:left; width: 10%">
                      <img src="{% static 'images/avatar.png' %}" alt="">
                  </div>
                  <div style="">
                      <username> By <a href="#">{{ question.answered_by }}</a> </username>
                      <br/>
                      <time>{{ question.answered_at }}</time>
                  </div>
              </div>
              <div style="clear:both"></div>
              <div class="question-answer condensed-answer">{{ question.answer }} </div>
              <div class="see-more" style="color: #00CCBD;"> See more </div>
          </div>
      {% endfor %}
    </div>
    <div class="clear"></div>
  </main>
</div>

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.backtotop.js' %}"></script>
<script src="{% static 'js/jquery.mobilemenu.js' %}"></script>
<script src="{% static '/js/jquery.js' %}"></script>
<script src="{% static '/js/rango-ajax.js' %}"></script>
<script src="{% static '/js/nav_menu.js' %}"></script>
<script>
    $(document).ready(function() {
        $('.upvote-experience').click(function(){
            var expid, oldstate, newstate;
            expid = $(this).attr("data-expid");
            oldstate = $(this).attr("data-old-state");
            if (oldstate === "False") {
                $(this).addClass('upvoted-button').removeClass('upvote-button');
                newstate =  "True";
                $(this).attr('data-old-state', "True");
                $('#text-' + expid).html("Upvoted");
            }
            else {
                $(this).addClass('upvote-button').removeClass('upvoted-button');
                newstate = "False";
                $(this).attr('data-old-state', "False");
                $('#text-' + expid).html("Upvote");
            }
            $.get('/upvote_experience/', {experience_id: expid, state: newstate, username: "{{ username }}"}, function(data){
                $('#upvote-' + expid).html(data);
            });
        });
        $('#going-button').click(function(){
            var oldstate, newstate;
            oldstate = $(this).attr("data-state");
            if (oldstate === "False") {
                $(this).addClass('going-guided-button').removeClass('going-guide-button');
                newstate =  "True";
                $(this).attr('data-state', "True");
                $('#going-text').html("I am going!");
            }
            else {
                $(this).addClass('going-guide-button').removeClass('going-guided-button');
                newstate = "False";
                $(this).attr('data-state', "False");
                $('#going-text').html("Are you going?");
            }
            $.get('/going_event/', {event_id: "{{ event_id }}", state: newstate, username: "{{ username }}"}, function(data){});
        });
        $('#guide-button').click(function(){
            var oldstate, newstate;
            oldstate = $(this).attr("data-state");
            if (oldstate === "False") {
                $(this).addClass('going-guided-button').removeClass('going-guide-button');
                newstate =  "True";
                $(this).attr('data-state', "True");
                $('#guide-text').html("I am a guide!");
            }
            else {
                $(this).addClass('going-guide-button').removeClass('going-guided-button');
                newstate = "False";
                $(this).attr('data-state', "False");
                $('#guide-text').html("Are you guiding?");
            }
            $.get('/guiding_event/', {event_id: "{{ event_id }}", state: newstate, username: "{{ username }}"}, function(data){});
        });
        $('.see-more').click(function() {
            $(this).parent().find('.question-answer').removeClass('condensed-answer');
            $(this).remove();
        });
    });
</script>
</body>
</html>
