{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Experiences - {{ event_name }}</title>
  <link href="{% static 'css/layout.css' %}" rel="stylesheet" type="text/css" media="all">
  <link href="{% static 'css/experience.css' %}" rel="stylesheet" type="text/css" media="all">
  <link href="{% static 'css/share_experience.css' %}" rel="stylesheet" type="text/css" media="all">
  <link href="{% static 'css/nav_menu.css' %}" rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="share-experience" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="paper">
            <div class="paper-content">
                <textarea id="experience-text" autofocus>{% if experience %} {{ experience }} {% endif %}</textarea>
            </div>
        </div>
        <div class="div-button">
            <div id="submit-experience-button" class="submit-button"> Submit Experience!</div>
        </div>
    </div>
    <header class="main_h sticky">
        <div class="row">
            <a class="logo" href="../"><span style="font-size:15px;"> EmpowerHer </span><span style="margin-left:25px;"> ++</span></a>
            <div class="mobile-toggle"><span></span><span></span><span></span></div>
            <nav>   <ul>
                <li><a href="/">Home</a></li>
                <li> <span onclick="openNav()">Share Experience</span></li>
                <li><a href="../dashboard/">Dashboard</a></li>
                {% if is_logged_in %}
                    <li><a href="../logout/">Log Out</a></li>
                {% else %}
                    <li><a href="../">Sign In/Up </a></li>
                {% endif %}
                <li><a href="../user/?username={{username}}"> <figure class="avatar"><img src="{% static 'images/avatar.png' %}" alt=""></figure></a></li>
            </ul>   </nav>
        </div>
    </header>
    <div class="experience-page-content">
        <a class="event-name" href="../event/?event_id={{event_id}}"> {{ event_name }} </a>
        {% for experience in all_experiences %}
        <div class="questions question-card">
            <div style="width: 100%;">
              <div style="float:left; width: 10%">
                  <img src="{% static 'images/avatar.png' %}" alt="">
              </div>
              <div style="">
                  <username> By <a href="../user/?username={{experience.username}}">{{ experience.name }}</a> </username>
                  <br/>
                  <time>{{ experience.timestamp }}</time>
              </div>
            </div>
            <div style="clear:both"></div>
            <div>{{ experience.experience }} </div>
            <div class="upvote-experience {% if experience.is_upvoted %} upvoted-button {% else %} upvote-button {% endif %}"
            data-expid="{{experience.experience_id}}" data-state="{{experience.is_upvoted}}">
                <span id="text-{{ experience.experience_id }}"> {% if experience.is_upvoted %} Upvoted {% else %} Upvote {% endif %} </span> |
                <span id="upvote-{{ experience.experience_id }}"> {{ experience.upvotes }} </span> </div>
        </div>
        {% endfor %}
    </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery.backtotop.js' %}"></script>
  <script src="{% static 'js/jquery.mobilemenu.js' %}"></script>
  <script src="{% static 'js/experience.js' %}"></script>
  <script>
    var user_exp_id = "{{ experience_id }}";
    var experience = {% if experience %} '{{ experience }}' {% else %} '' {% endif %};
    var username = "{{ username }}";
    var event_id = "{{ event_id }}";
  </script>
  <script src="{% static '/js/nav_menu.js' %}"></script>
</body>
</html>
