{%load staticfiles%}
<!doctype html>
<html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ name }}</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav_menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/newsfeed.css' %}">
</head>
<body>
    <div id="right-panel" class="right-panel">
        <header class="main_h sticky">
            <div class="row">
                <a class="logo" href="../"><span style="font-size:15px;"> EmpowerHer </span><span style="margin-left:25px;"> ++</span></a>
                <div class="mobile-toggle"><span></span><span></span><span></span></div>
                <nav>   <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="../dashboard/">Dashboard</a></li>
                    {% if is_logged_in %}
                        <li><a href="../logout/">Log Out</a></li>
                    {% else %}
                        <li><a href="../">Sign In/Up </a></li>
                    {% endif %}
                    <li><a href="../user/?username={{username}}"> <figure class="avatar"><img src="{% static 'images/avatar.png' %}" alt=""></figure></a></li>
                </ul>   </nav>
            </div>
        </header>

        <h1 align="center" style="margin-top:70px;"><b>{{name}}</b></h1>

        {% if all_events_going %}
        <h3>Events you are going to: </h3>
        <div class="horizontal-scroll-container">
            <div class="articles-container" style="background-color:#c9e5e3;">
            {% for event in all_events_going %}
            <article class="container-event">
                <section class="article-body">
                    <p class="article-tags"><!-- tags here --></p>
                    <a href="../event/?event_id={{ event.event_id }}"> <h2 class="article-heading"> {{ event.event_name }} </h2></a>
                    <a href="{{ event.website }}"> <h4> {{ event.website }} </h4> </a>
                    <p class="condensed-answer"> {{ event.description }}</p>
                </section>
                <footer class="article-footer">
                    <div class="user-going-button {% if event.is_going %} going-guided-button {% else %} going-guide-button {% endif %}"
                            data-state="{{ event.is_going }}" data-event-id="{{ event.event_id }}" data-event="going">
                        <span id="going-going-text-{{event.event_id}}"> {% if not event.is_going %} Are you going? {% else %} I am going! {% endif %} </span>
                    </div>
                    <div class="user-guide-button {% if event.is_guide %} going-guided-button {% else %} going-guide-button {% endif %}"
                        data-state="{{ event.is_guide }}" data-event-id="{{ event.event_id }}" data-event="going">
                        <span id="going-guide-text-{{event.event_id}}"> {% if not event.is_guide %} Are you guiding? {% else %} I am a guide! {% endif %} </span>
                    </div>
                </footer>
            </article>
            {% endfor %}
        </div>
        </div>
        {% endif %}

        {% if all_events %}
        <h3>Other upcoming events:</h3>
        <div class="horizontal-scroll-container">
            <div class="articles-container" style="background-color:#01514b;">
            {% for event in all_events %}
            <article class="container-event">
                <section class="article-body">
                    <p class="article-tags"><!-- tags here --></p>
                    <a href="../event/?event_id={{ event.event_id }}"> <h2 class="article-heading"> {{ event.event_name }} </h2></a>
                    <a href="{{ event.website }}"> <h4> {{ event.website }} </h4> </a>
                    <p class="condensed-answer"> {{ event.description }}</p>
                </section>
                <footer class="article-footer">
                    <div class="user-going-button {% if event.is_going %} going-guided-button {% else %} going-guide-button {% endif %}"
                            data-state="{{ event.is_going }}" data-event-id="{{ event.event_id }}" data-event="event">
                        <span id="event-going-text-{{event.event_id}}"> {% if not event.is_going %} Are you going? {% else %} I am going! {% endif %} </span>
                    </div>
                    <div class="user-guide-button {% if event.is_guide %} going-guided-button {% else %} going-guide-button {% endif %}"
                        data-state="{{ event.is_guide }}" data-event-id="{{ event.event_id }}" data-event="event">
                        <span id="event-guide-text-{{event.event_id}}"> {% if not event.is_guide %} Are you guiding? {% else %} I am a guide! {% endif %} </span>
                    </div>
                </footer>
            </article>
            {% endfor %}
        </div>
        </div>
        {% endif %}

        {% if all_experiences %}
        <h3>Experiences of people attending past events</h3>
        <div class="horizontal-scroll-container">
            <div class="articles-container" style="background-color:#c9e5e3;">
            {% for experience in all_experiences %}
            <article class="experience-card">
                <header>
                    <figure class="avatar"><img src="{% static 'images/avatar.png' %}" alt=""></figure>
                    <username>By <a href="../user/?username={{experience.username}}">{{ experience.name }}</a></username>
                    <time>{{ experience.timestamp }}</time>
                </header>
                <div class="experience-section comcont condensed-answer"><p>{{ experience.experience }}</p></div>
                <footer class="article-footer" style="padding-left:0;">
                    <div class="upvote-experience {% if experience.is_upvoted %} upvoted-button {% else %} upvote-button {% endif %}"
                        data-expid="{{experience.experience_id}}" data-old-state="{{experience.is_upvoted}}">
                        <span id="text-{{ experience.experience_id }}"> {% if experience.is_upvoted %} Upvoted {% else %} Upvote {% endif %} </span> |
                        <span id="upvote-{{ experience.experience_id }}"> {{ experience.upvotes }} </span> </div>
                </footer>
            </article>
            {% endfor %}
        </div>
        </div>
        {% endif %}

        {% if all_questions %}
        <h3>Questions asked in events you're going to attend:</h3>
        <div class="horizontal-scroll-container">
            <div class="articles-container" style="background-color:#01514b;">
            {% for question in all_questions %}
            <div class="questions question-card">
                <a style="color:#999999;" href="../event/?event_id={{ event_id }}"> {{ question.event_name }} </a>
                <a href="../question/?question_id={{ question.question_id }}"> <h4 class="question-highlighted"> {{ question.question }} </h4> </a>
                <div style="width: 100%;">
                    <div style="float:left; width: 10%">
                        <img src="{% static 'images/avatar.png' %}" alt="">
                    </div>
                    <div style="">
                        <username> By <a href="#">{{ question.answered_by }}</a> </username>
                        <br/>
                        <time>{{ question.answered_at }}</time>
                    </div>
                </div>
                <div style="clear:both"></div>
                <div class="question-answer condensed-answer">{{ question.answer }} </div>
            </div>
            {% endfor %}
            </div>
        </div>
        {% endif %}
    <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>

    <script>
        var username = "{{ username }}";
    </script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.backtotop.js' %}"></script>
    <script src="{% static 'js/jquery.mobilemenu.js' %}"></script>
    <script src="{% static 'js/newsfeed.js' %}"></script>
</body>
</html>
