{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ question.QUESTION }}</title>
  <link href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' rel='stylesheet' type='text/css'>
  <link href="{% static 'css/layout.css' %}" rel="stylesheet" type="text/css" media="all">
  <link href="{% static 'css/share_experience.css' %}" rel="stylesheet" type="text/css" media="all">
  <link href="{% static 'css/question.css' %}" rel="stylesheet" type="text/css" media="all">
  <link href="{% static 'css/nav_menu.css' %}" rel='stylesheet' type='text/css'>
</head>
<body>
    <header class="main_h sticky">
        <div class="row">
            <a class="logo" href="../"><span style="font-size:15px;"> EmpowerHer </span><span style="margin-left:25px;"> ++</span></a>
            <div class="mobile-toggle"><span></span><span></span><span></span></div>
            <nav>   <ul>
                <li><a href="/">Home</a></li>
                <li><a href="../dashboard/">Dashboard</a></li>
                {% if is_logged_in %}
                    <li><a href="../logout/">Log Out</a></li>
                {% else %}
                    <li><a href="../">Sign In/Up </a></li>
                {% endif %}
                <li><a href="../user/?username={{username}}"> <figure class="avatar"><img src="{% static 'images/avatar.png' %}" alt=""></figure></a></li>
            </ul>   </nav>
        </div>
    </header>
    <div class="question-page-content">
        <a class="event-name" href="../event/?event_id={{event_id}}"> {{ event_name }} </a>
        <h3>{{ question.QUESTION }}</h3>
        <div class="answer-button"> Answer </div>
        {% for answer in answers %}
        <div class="questions question-card">
            <div style="width: 100%;">
              <div style="float:left; width: 10%">
                  <img src="{% static 'images/avatar.png' %}" alt="">
              </div>
              <div style="">
                  <username> By <a href="../user/?username={{answer.username}}">{{ answer.name }}</a> </username>
                  <br/>
                  <time>{{ answer.timestamp }}</time>
              </div>
            </div>
            <div style="clear:both"></div>
            <div>{{ answer.answer }} </div>
            <div class="upvote-answer {% if answer.is_upvoted %} upvoted-button {% else %} upvote-button {% endif %}"
            data-ansid="{{answer.answer_id}}" data-state="{{answer.is_upvoted}}">
                <span id="text-{{ answer.answer_id }}"> {% if answer.is_upvoted %} Upvoted {% else %} Upvote {% endif %} </span> |
                <span id="upvote-{{ answer.answer_id }}"> {{ answer.upvotes }} </span> </div>
        </div>
        {% endfor %}
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.backtotop.js' %}"></script>
    <script src="{% static 'js/jquery.mobilemenu.js' %}"></script>
    <script src="{% static '/js/jquery.js' %}"></script>
    <script>
        var answer_area_exist = false;
        var answer_id = '{{ answer_id }}';
        var answer = {% if answer %} '{{ answer }}' {% else %} '' {% endif %};
        var username = "{{ username }}";
        var question_id = "{{ question.QUESTION_ID }}";
    </script>
    <script src="{% static '/js/nav_menu.js' %}"></script>
    <script src="{% static '/js/question.js' %}"></script>
</body>
</html>
